@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    min-height: 100vh;
    background: var(--gray-600, #0C0C0D);
    -webkit-tap-highlight-color: transparent;
  }

  input {
    background: transparent;
  }
}

@layer components {
  .focusInput {
    @apply focus:outline-[1px] focus:outline-purpleLight
  }
}